html {
  background-color: #292826;
  font-family: "georgia";
}

h1 {
  /*  border: solid, 3px, black; */
  text-align: center;
  background-color: #55f007;
  border-radius: 100px;
  color: #000000;
}
P {
  text-align: center;
  background-color: #55f007;
  border-radius: 100px;
  color: #000000;
}
img {
  margin: auto;
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 150px;
}
